h2 {
  color: green;
  font-style: italic;
}
body {
	background-color: lightgrey;
}

.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.success {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.blog {
	background: lightblue;
	padding-top: 10px;
	padding-left: 2px;
	border: solid;
	border-width: 1px;
	margin-bottom: 5px;
}
.blogList {
	width: 40%;
	background-color: rgba(173, 216, 230, 0.589);
	align-self: center;
}